
test/.vs/test/v15/Server/sqlite3/db.lock
TAvisstudio/.vs/TAvisstudio/v15/Server/sqlite3/db.lock
Employee.cs
.vs/Excercise/v15/Server/sqlite3/db.lock
NewsletterAppMVC/.vs/NewsletterAppMVC/DesignTimeBuild/.dtbcache
Employee.cs
Employee.cs
Inheritance/App.config
Inheritance/bin/Debug/Inheritance.exe
Inheritance/bin/Debug/Inheritance.exe.config
Inheritance/bin/Debug/Inheritance.pdb
Inheritance/Inheritance.csproj
Inheritance/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Inheritance/obj/Debug/Inheritance.csproj.CoreCompileInputs.cache
Inheritance/obj/Debug/Inheritance.csproj.FileListAbsolute.txt
Inheritance/obj/Debug/Inheritance.csprojAssemblyReference.cache
Inheritance/obj/Debug/Inheritance.exe
Inheritance/obj/Debug/Inheritance.pdb
Inheritance/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Inheritance/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Inheritance/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Inheritance/Properties/AssemblyInfo.cs
NewsletterAppMVC/.vs/config/applicationhost.config
NewsletterAppMVC/.vs/NewsletterAppMVC/v15/.suo
NewsletterAppMVC/.vs/NewsletterAppMVC/v15/Server/sqlite3/db.lock
varandconstExercise/Program.cs
